<ion-app>
    <!-- font-link -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">

  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-icon name="arrow-back-outline" slot="start" routerLink="/home"></ion-icon>
      <ion-title>Kompaun</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>

  <div class="form">
    <img src="assets/media/logo.png" alt="" srcset="">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Nama Pegawai</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Carian Maklumat Kompaun / Notis</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item lines="none" style="margin-top: 1rem;">
          <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
          <ion-label>Trafik</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Pilihan Carian</ion-label>
        </ion-item>
        <ion-item lines="none"> 
          <ion-list>
            <ion-radio-group name="auto" value="carian">
              <ion-item lines="none">
                <ion-label>No I/C / Pelanggan ID</ion-label>
                <ion-radio value="ic" mode="md" slot="start"></ion-radio>
              </ion-item>
              <ion-item lines="none">
                <ion-label>No Kenderaan</ion-label>
                <ion-radio value="kenderaan" mode="md" slot="start"></ion-radio>
              </ion-item>
              <ion-item lines="none">
                <ion-label>No Kompaun</ion-label>
                <ion-radio value="kompaun" mode="md" slot="start"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </ion-item>
        <ion-item lines="none" style="margin-top: 1rem;">
          <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
          <ion-label>Carian Unik</ion-label>
        </ion-item>
        <ion-item lines="none" style="margin-top: 1.5rem;">
          <ion-button expand="block" fill="clear">
            Papar Maklumat
          </ion-button>
          <ion-button expand="block" fill="clear">
            Senarai Kompaun
          </ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>

  </div>
  </ion-content>
</ion-app>

