<ion-app>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">

  <ion-content>
    <div class="title">
      <!-- <img src="assets/media/logo.png" alt="" srcset="">
      <h3>MISys</h3>
      <p><span id="mpaj">Mpaj</span> Interactive System</p> -->
      <ion-item lines="none">
        <img src="assets/media/logo.png" alt="">
        <div class="word">
          <h1>MISys</h1>
          <p><span id="mpaj">Mpaj</span> Interactive System</p>
        </div>
      </ion-item>
      <h4>Menu</h4>
    </div>
    <div class="menu">
      <ion-card routerLink="/kompaun">
        <ion-card-header>
          <img src="assets/media/traffic-lights.png" alt="" srcset="">
          <ion-card-title>Kompaun Trafik</ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <img src="assets/media/hazard.png" alt="" srcset="">
          <ion-card-title>Kompaun Non Trafik</ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <img src="assets/media/notice.png" alt="" srcset="">
          <ion-card-title>Notis</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
  </ion-content>
</ion-app>


